img{
    width: 500px !important;

}

.sidebar{
  border-radius: 10px;
  background-color: rgb(226, 214, 203);
  height: fit-content !important;

}

.sidebarcontent{

  font-size: 1rem;
  font-weight: 600;
}


body{
    background-color: rgb(173, 230, 195) !important;
}



.active{
    
    color: greenyellow !important;
    font-size: large !important;
}

.react-quill:focus {
    border: none;
    outline: none;
}
/* .post-heading{
    color: black;
    font-size: larger;
    font-weight: 600;
}


.post-content{
    background-color: #b0aeae;
} */



.anticon{
  vertical-align: 0 !important;
 /* padding-bottom: 10px !important; */
  margin-left: 10px !important;
  justify-content: center !important;
  align-items: center !important ;
  /* display: flex; */
}


/* PostList.css */

.post-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .container {
    width: 100%;
    max-width: 800px;
  }
  
  .post-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .post-header-info {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .post-user-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .post-created-at {
    font-size: 12px;
    color: #999;
  }
  
  .post-actions {
    display: flex;
  }
  
  .action-icon {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .edit-icon {
    color: #f39c12;
  }
  
  .delete-icon {
    color: #e74c3c;
  }
  
  .post-content {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .post-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .post-footer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #999;
  }
  
  .interaction-icon {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .heart-icon {
    color: #e74c3c;
  }
  
  .comment-icon {
    color: #3498db;
  }
  
  .interaction-count {
    margin-right: 20px;
  }
  
  @media (max-width: 576px) {
    .post-card {
      padding: 15px;
    }
  
    .post-image {
      height: 200px;
    }
  }
  